@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: linear-gradient(45deg, #000000, #434343);
}

h1 {
  margin: 10px;
}

.star-element {
  background-color: #000000;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(300%);
  transition: transform 0.4s ease;
}

.star-element:nth-of-type(even) {
  transform: translateX(-300%);
}

.star-element.show {
  transform: translateX(0);
}
